<footer class="site-footer is-fixed">
  <div class="footer-inner">
    <div class="footer-left">
      <span class="brand">MBA Loja Módulo 2</span>
      <span class="sep">•</span>

    </div>

    <div class="footer-links">
      <a
        class="github"
        href="https://github.com/sauloaraujoo/mba-modulo2-marketplace"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Repositório no GitHub"
      >
        <i class="bi bi-github"></i>
        <span>GitHub do projeto</span>
      </a>
    </div>
  </div>
</footer>
