@{
    ViewData["Title"] = "Página Não Encontrada";
}

<h1>404 - Página Não Encontrada</h1>
<p>O recurso que você está procurando não está disponível.</p>
<a asp-controller="Home" asp-action="Index">Voltar para a página inicial</a>