<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <h2>Detalhes do Produto</h2>        
        <div class="col-md-4" style="position: relative;">
            <div *ngIf="produto?.imagem">
                <img src="{{urlImagem}}{{ produto.imagem }}" height="164px" width="253px" alt=""> 
            </div>

            <button *ngIf="ehUsuarioLogado()" class="btn btn-link position-absolute"
                    style="right: 10px; top: 10px; z-index: 2;"
                    (click)="AdicionarRemoverFavorito(produto.id)">
                <i class="bi" [ngClass]="{ 'bi-heart-fill': ehFavorito(produto.id), 'bi-heart': !ehFavorito(produto.id) }"
                style="color: red; font-size: 1.4em;"></i>
            </button>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    Categoria
                </dt>
                <dd>
                   {{ produto.nomeCategoria }} 
                </dd>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ produto.nome }} 
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    {{ produto.descricao }} 
                </dd>
                <dt>
                    Preço
                </dt>
                <dd>
                    {{ produto.preco | currency:'BRL':true:'1.2-2':'pt' }}
                </dd>
                <dt>
                    Vendedor
                </dt>
                <dd>
                    <a [routerLink]="['/produtos/vendedor', produto.vendedorId]">{{ produto.nomeVendedor }}</a> 
                </dd>
            </dl>

            <div>
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>
