<div class="container main-container produto-page">
    <div class="row">
        <div class="col-md-12">
            <h2>Detalhes do Produto</h2>        
        <div class="col-md-4" style="position: relative;">
            <div *ngIf="produto?.imagem">
                <img src="{{urlImagem}}{{ produto.imagem }}" alt=""> 
            </div>

            
        </div>
        <div class="col-md-6">
            <button *ngIf="ehUsuarioLogado()" class="btn btn-link favorito-btn"
        (click)="AdicionarRemoverFavorito(produto.id)">
  <i class="bi favorito-icone" [ngClass]="ehFavorito(produto.id) ? 'bi-star-fill' : 'bi-star'"></i>
</button>
            <dl>
                <dt>
                    Categoria
                </dt>
                <dd>
                   {{ produto.nomeCategoria }} 
                </dd>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ produto.nome }} 
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    {{ produto.descricao }} 
                </dd>
                <dt>
                    Preço
                </dt>
                <dd>
                    {{ produto.preco | currency:'BRL':true:'1.2-2':'pt' }}
                </dd>
                <dt>
                    Vendedor
                </dt>
                <dd>
                    <a [routerLink]="['/produtos/vendedor', produto.vendedorId]">{{ produto.nomeVendedor }}</a> 
                </dd>
            </dl>

            <div>
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>
