<div class="container main-container">
    <h1>Informações do Vendedor</h1>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>
                    Nome
                </dt>
                <dd>
                   {{ vendedor.nome }} 
                </dd>
                <dt>
                    E-mail
                </dt>
                <dd>
                    {{ vendedor.email }} 
                </dd>
            </dl>
        </div>
    </div>

    <h4>Produtos do vendedor</h4>
    <app-lista [categoriaId]="" [vendedorId]="vendedorId" contexto="vendedor"></app-lista>
    
    <div>
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </div>
</div>
